<button class="ui button" (click)="onLogout()">Logout</button>

<div id="head-wrapper">
<app-plot></app-plot>

<div class="ui segment" id="editor-form">
  <form class="ui form" [formGroup]="pointForm" novalidate (ngSubmit)="onSubmit()">

    <div class="fields">
      <label>X</label>
      <div class="field">
        <div class="ui radio">
          <input type="radio" formControlName="x" value="-5">
          <label>-5</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio">
          <input type="radio" formControlName="x" value="-4">
          <label>-4</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio">
          <input type="radio" formControlName="x" value="-3">
          <label>-3</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio">
          <input type="radio" formControlName="x" value="-2">
          <label>-2</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio">
          <input type="radio" formControlName="x" value="-1">
          <label>-1</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio">
          <input type="radio" formControlName="x" value="0">
          <label>0</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio">
          <input type="radio" formControlName="x" value="1">
          <label>1</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio">
          <input type="radio" formControlName="x" value="2">
          <label>2</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio">
          <input type="radio" formControlName="x" value="3">
          <label>3</label>
        </div>
      </div>
    </div>

    <div class="field">
      <label>Y</label>
      <input name="y" formControlName="y" placeholder="0" type="text"/>
    </div>

    <div class="fields">
      <label>R</label>
      <div class="field">
        <div class="ui radio">
          <input type="radio" formControlName="r" value="-5">
          <label>-5</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio">
          <input type="radio" formControlName="r" value="-4">
          <label>-4</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio">
          <input type="radio" formControlName="r" value="-3">
          <label>-3</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio">
          <input type="radio" formControlName="r" value="-2">
          <label>-2</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio">
          <input type="radio" formControlName="r" value="-1">
          <label>-1</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio">
          <input type="radio" formControlName="r" value="0">
          <label>0</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio">
          <input type="radio" formControlName="r" value="1">
          <label>1</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio">
          <input type="radio" formControlName="r" value="2">
          <label>2</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio">
          <input type="radio" formControlName="r" value="3">
          <label>3</label>
        </div>
      </div>
    </div>

    <div class="field">
      <input value="Check" type="submit" class="ui submit button" [disabled]="!pointForm.valid"/>
    </div>
  </form>
</div>
</div>

<table class="ui table" id="result-table">
  <thead>
  <tr>
    <th>X</th>
    <th>Y</th>
    <th>R</th>
    <th>Result</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let result of hitResults">
    <td>{{result.x}}</td>
    <td>{{result.y}}</td>
    <td>{{result.r}}</td>
    <td>{{result.inArea}}</td>
  </tr>
  </tbody>
</table>
